@font-face {
  font-family: "Sarabun";
  src: url("../../assets/fonts/Sarabun/sarabun-extrabold-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/Sarabun/sarabun-extrabold-webfont.woff")
      format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Sarabun";
  src: url("../../assets/fonts/Sarabun/sarabun-extrabolditalic-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/Sarabun/sarabun-extrabolditalic-webfont.woff")
      format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Sarabun";
  src: url("../../assets/fonts/Sarabun/sarabun-extralight-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/Sarabun/sarabun-extralight-webfont.woff")
      format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Sarabun";
  src: url("../../assets/fonts/Sarabun/sarabun-extralightitalic-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/Sarabun/sarabun-extralightitalic-webfont.woff")
      format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Sarabun";
  src: url("../../assets/fonts/Sarabun/sarabun-italic-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/Sarabun/sarabun-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sarabun";
  src: url("../../assets/fonts/Sarabun/sarabun-regular-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/Sarabun/sarabun-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
